.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  margin-top: 300px;
}

.baloon {
  margin-top: 600px;
  position: absolute;
  z-index: 1;
}

.speach {
  font-size: 25px;
  margin-top: 505px;
  margin-left: 220px;
  position: absolute;
  z-index: 2;
}

.bowser {
  width: 200px;
}
