ol { 
  background-color: yellow;
}
.par {
  color: green;
}
.impar {
  text-transform: uppercase;
}
h1, h2 {
  color: red;
}
.italico {
  font-size: 40px;
  border: 1px solid black;
}
li { 
  font-size: 20px;
}
em {
  font-weight: bold;
}
.linguagens {
  color: blue;
}
.rosa {
  background-color: pink; /* Não lembrei como faz pra filtrar uma palavra chave, então deixei estático mesmo */
}
footer li:hover {
  font-weight: bold;
}
.laranja:hover {
  color: orange;
}
.verde:hover {
  color: green;
}
.azul:hover {
  color: blue;
}
.verdeClaro:hover {
  color: greenyellow;
}